.parallax_banner{

	padding-top:100px;
	background-image: url("../img/fundo.jpeg");

	/* Altura do banner */
	height: 300px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner_logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
	background-color: #1a1919;
}
.tema1{
	background-color: red;
}

.tema2{
	background-color: blue;
}