<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Monitoração e controle de dispositivos</title>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style type="text/css" media="screen">
        #msg {
            display: none;
            color: red;
        }
    </style>

<script>
window.onload = function () {


</script>

    <script type="text/javascript">
        $(document).ready( function() {
            var led_status;
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/monitor');
            var numbers_received = [];
		
	var ultTemp = 0;
	var ultUmid = 0;

            socket.on('connect', function() {
                $("#status").html('conectado')
            });

            socket.on('disconnect', function() {
                $("#status").html('desconectado')
            });            

            socket.on('led_status_change', function(led_data) {
                console.log(led_data.status);
                led_status = led_data.status;
                if(led_status === 'on') {
                    $("#led_status").html('aceso');
                    $("#btnExecutar").text('Apagar led');
                } else {
                    $("#led_status").html('apagado');
                    $("#btnExecutar").text('Acender led');
                }
            });

            socket.on('dht_measure', function(data) {
                if(data.success === true) {
                    $("#temp").html(data.temp);
                    $("#humid").html(data.hum);
		    ultTemp = data.temp
		    ultUmid = data.hum
                    $("#date_time").html(data.date_time);
                    $("#msg").css("display", "none");

                } else {
                    $("#temp").html(NaN);
                    $("#humid").html(NaN);
                    $("#date_time").html(data.date_time);
                    $("#msg").css("display", "block");
                    $("#msg").html(data.err_msg);
                }
            });

            $('#btnExecutar').click(function(event) {
                if(led_status === 'off') {
                    socket.emit('led_command', { 'command' : 'turn_on'});
                } else {
                    socket.emit('led_command', { 'command' : 'turn_off'});
                }
            });


/////////////////////////////
//// Grafico temperatura ////
var dpsTemp = []; // dataPoints
var chartTemp = new CanvasJS.Chart("chartContainer1", {
	title :{
		text: "Temperatura"
	},
	axisY: {
		includeZero: false
	},      
	data: [{
		type: "line",
		dataPoints: dpsTemp
	}]
});


var xVal = 0;
var yVal = 100; 
var updateInterval = 1000;
var dataLength = 20; // number of dataPoints visible at any point

var updateChartTemp = function (count) {

	count = count || 1;

	for (var j = 0; j < count; j++) {
		yVal = ultTemp;
		dpsTemp.push({
			x: xVal,
			y: yVal
		});
		xVal++;
	}

	if (dpsTemp.length > dataLength) {
		dpsTemp.shift();
	}

	chartTemp.render();
};

updateChartTemp(dataLength);
setInterval(function(){updateChartTemp()}, updateInterval);

//// Grafico umidade ////

var dpsUmid = []; // dataPoints
var chartUmid = new CanvasJS.Chart("chartContainer2", {
	title :{
		text: "Umidade"
	},
	axisY: {
		includeZero: false
	},      
	data: [{
		type: "line",
		dataPoints: dpsUmid
	}]
});


var xVal = 0;
var yVal = 100; 
var updateInterval = 1000;
var dataLength = 20; // number of dataPoints visible at any point

var updateChartUmid = function (count) {

	count = count || 1;

	for (var j = 0; j < count; j++) {
		yVal =  ultUmid;
		dpsUmid.push({
			x: xVal,
			y: yVal
		});
		xVal++;
	}

	if (dpsUmid.length > dataLength) {
		dpsUmid.shift();
	}

	chartUmid.render();
};

updateChartUmid(dataLength);
setInterval(function(){updateChartUmid()}, updateInterval);
////////////////////////


        });        
    </script>
</head>
<body>






    <h1><marquee> Dados da monitoração </marquee></h1>
    <form id="form_control">
        <div class="data">


<div class="container">
  <div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
            <p class="card-text"><b>Estado: </b><br><span id="status">desconectado</span></p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
	  <p class="card-text"><b>Data/Hora: </b><br><span id="date_time">&#45;</span></p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"><b>Temperatura: </b><br><span id="temp">0.0</span>&#8451;</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"><b>Umidade: </b><br><span id="humid">0.0</span>&#37;</p>
      </div>
    </div>  
    <div class="card ">
      <div class="card-body text-center">
        <p class="card-text"><b>Estado do led: </b><br><span id="led_status"></span></p>
        <button type="button" id="btnExecutar"></button>
      </div>
    </div> 
  </div>
</div>



            <br>
           
            <br>

            <br>

            <br>

            <br>

        </div>
    </form>
    <div>
        <span id=msg></span>
    </div>

	<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
	<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>